<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Eklektisk is (Not) Coding</title>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">My Blog</a></li>
			</ul>
		</nav>
		<header>
			<h1>Eklektisk is Coding<span class="blink">_</span></h1>
			<p><i>(Well, probably not right now. But possibly later.)</i></p>
		</header>
		<main>
			<!-- wt -->
		</main>
		<hr />
		<footer>
			<ul>
				<li><a href="/rss.xml">RSS Feed</a></li>
			</ul>
		</footer>
	</body>
</html>
