<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>My Example Website</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="blog.html">My Blog</a></li>
			</ul>
		</nav>
		<header>
			<h1>My Example Website</h1>
		</header>
		<main>
			<!-- wt -->
		</main>
		<hr />
		<footer>
			<p><a href="rss.xml">RSS Feed</a></p>
		</footer>
	</body>
</html>
